.cardDescription img{
        width: 25rem;
        height: auto;
        align-self: center;
        padding-top: 1rem;
}

.cardDescription{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    font-family: TT font;
    text-align: center;
    padding-bottom: 5rem;
}
.addToCart{
    background-color: black;
    border:  #ed3ca0 solid;
    margin-top: 30px;
    height: 50px;
}
.addToCart:hover{
    background-color: #ed3ca0;
    border: black solid;
}
.cardBody p{
    font-size: 13px;
}
.cardBody{
    display: flex;
    flex-direction: column;
}
.goBack{
    background-color: black;
    border:  #ed3ca0 solid;
    margin-top: 3px;
    width: 80px;
    height: 50px;
    font-size: 1.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.goBack:hover{
    background-color: #ed3ca0;
    border: black solid;
}
.descriptionFooter{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}
.goCart{
    font-size: 10px;
    background-color: black;
    border:  #ed3ca0 solid;
    margin-top: 3px;
    width: 80px;
    height: 50px;
}
.goCart:hover{
    background-color: #ed3ca0;
    border: black solid;
}